[Unit]
Description=cnspec Service
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/mondoo/bin/
ExecStart=/opt/mondoo/bin/cnspec --config /etc/opt/mondoo/mondoo.yml serve
KillMode=process
Restart=on-failure
RestartSec=15min

[Install]
WantedBy=multi-user.target