[Unit]
Description=cnspec Service
After=network-online.target
ConditionPathExists=/etc/opt/mondoo/
ConditionFileNotEmpty=/etc/opt/mondoo/mondoo.yml
StartLimitIntervalSec=10

[Service]
Type=simple
WorkingDirectory=/etc/opt/mondoo/
ExecStart=/usr/bin/cnspec --config /etc/opt/mondoo/mondoo.yml serve
KillMode=process
Restart=on-failure
RestartSec=90
RestartPreventExitStatus=78
StartLimitBurst=3
RestartSec=3

[Install]
WantedBy=multi-user.target
