---
    name: Link Checking

    "on":
      pull_request:
      push:
        branches: [main]

    jobs:
      md-links:
        name: Run markdown link check
        runs-on: ubuntu-latest
        steps:
          - name: Check out code
            uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
          - name: markdown-link-check
            uses: gaurav-nelson/github-action-markdown-link-check@5c5dfc0ac2e225883c0e5f03a85311ec2830d368 # v1
            with:
              use-verbose-mode: "yes"
