---
name: Lint Policies

on:
  pull_request:
    types: [opened, reopened, synchronize]
    paths:
      - 'content/**'
  push:
    branches:
      - main
    paths:
      - 'content/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Lint cnspec policies and output SARIF
        uses: mondoohq/actions/cnspec-lint@main
        with:
          path: ./content
          output-file: "results.sarif"
      - name: Install jq
        run: sudo apt-get install jq
      - name: Display SARIF file content
        run: cat results.sarif | jq .
      - name: Upload SARIF results file
        uses: github/codeql-action/upload-sarif@014f16e7ab1402f30e7c3329d33797e7948572db # v4.31.3
        with:
          sarif_file: results.sarif
      - name: Check SARIF file content
        id: check_sarif
        run: |
          echo "Checking SARIF file content..."
          RESULTS_EMPTY=$(cat results.sarif | jq '.runs[0].results | map(select(.level != "warning" and .level != "note")) | length == 0')
          if [ "$RESULTS_EMPTY" = "true" ]; then
            echo "SARIF file content is as expected. No results found."
          else
            echo "SARIF file contains results, indicating issues were found. Please review the SARIF file content below for more details, or check the 'Security' tab for alerts once the file has been uploaded."
            exit 1
          fi
